<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Celenganku">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Celenganku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".NoInternetActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".WishActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".HouseCalculatorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".FaithSavingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".FinancialToolsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MaintenanceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ChristianSavingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".FamilySavingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>